{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Accueil
{% endblock %}

{% block header %}
    <ul>
        <li>
            <a href="{{ path('app_login') }}">Se connecter</a>
        </li>
        <li>
            <a href="{{ path('app_register') }}">S'enregistrer</a>
        </li>
    </ul>
{% endblock %}
{% block body %}
    <p>ici la page d'accueil</p>
    <a href="{{ path('event_create') }}">Créer une sortie</a>
{% endblock %}