/* Palettes couleurs
   ========================================================================== */
/* Color Theme Swatches in Hex*/
/*.Construction-road-1-hex { color: #FF793B; }*/
/*.Construction-road-2-hex { color: #2C5A71; }*/
/*.Construction-road-3-hex { color: #193341; }*/
/*.Construction-road-4-hex { color: #E4F2FF; }*/
/*.Construction-road-5-hex { color: #C6D2DE; }*/

/* Squid |Color Theme Swatches in Hex*/
/*.Squid-1-hex { color: #1C8394; }*/
/*.Squid-2-hex { color: #154B52; }*/
/*.Squid-3-hex { color: #000B0D; }*/
/*.Squid-4-hex { color: #390D02; }*/
/*.Squid-5-hex { color: #A52502; }*/



/* All
   ========================================================================== */
* {
    font-family: sans-serif;
}


/* Body
   ========================================================================== */
body {
    background-color: #171821;
    color: #f7f7f8;
}


/* Containers
   ========================================================================== */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 100px;
}


/* Header
   ========================================================================== */
.header {
    grid-column: 1;
    grid-row: 1 / 1;
    padding: 20px 0;
    background-color: #13151B;
}
.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.header__logo {}
.header__link {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header__img {}
.header__sigle {}

/* Header > Nav
   ========================================================================== */
.nav {}
.nav__list {
    display: flex;
    gap: 40px;
}
.nav__item {
    display: flex;
    gap: 10px;
    list-style: none;
}
.nav__link {
    text-decoration: none;
    font-weight: 600;
    color: #f7f7f8;
}


/* Main
   ========================================================================== */
.main {
    grid-column: 1;
    grid-row: 2 / 2;
}

/* Main > Login
   ========================================================================== */
.login {}
.login__title {}
.login__form {}
.login__alert {}

/* Main > Form
   ========================================================================== */
.form__container {
    text-align: center;
}
.form__fields {
    display: grid;
    justify-content: center;
    margin-top: 47px;
}
.form__label {
    margin-right: 15px;
}
.form__check{
    margin-top: 15px;
    display: inline-grid;
}
.form__link{
    margin-top: 15px;
}
.form__input {}
.form__checkbox {}
.form__button {}
.form__label{}


/* Main > Redirect
========================================================================== */
.redirect {}
.redirect__text {}
.redirect__link {}

/* Main > Card
   ========================================================================== */

.main__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-radius: 4px;
    background-color: #31343d;
}
.card__header { padding: 20px 20px 0 20px; }
.card__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #21222d;
}
.card__title {
    font-size: 24px;
}
.card__state {
    font-weight: 600;
    color: #2CAEEE;
}
.card__text {max-width: 110px;}
.card__main { padding: 0 20px; }
.card__date { display: flex; }
.card__date-days {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}
.card__owner a { color: #2CAEEE; }
.card__owner-participant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.card__number-participant p { text-align: end; }
.card__registered { padding: 10px; }
.card__link {
    font-weight: 700;
    text-decoration: none;
    color: #f7f7f8;
}
.card__action {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
    border-top: 1px solid #21222d;
}
.card__footer {
    padding: 20px 20px;
    border-radius: 0 0 4px 4px;
    text-align: center;
    background-color: #2CAEEE;
}

/* User
   ========================================================================== */

/* User_profil
   ========================================================================== */
.user_main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 38px;
    grid-template-rows: 100px 1fr 100px;
    font-family: 'Andada Pro', serif;
}
.user_h1{
    grid-column: 1/6;
    grid-row: 1;
    text-align: center;
}
.img_profil{
    width: 250px;
    grid-column: 2;
    grid-row: 2;
}
.user_form{
    grid-column: 3/5;
    grid-row: 2;
}
.user{
    display: flex;
    justify-content: space-evenly;

}
.password-field{
    display: flex;
}
.user_button{
    margin-top: 8px;
}
/* User_detail
   ========================================================================== */
.user_detail_h2{
    text-align: center;
    margin-top: 45px;
}
.detail{
    display: grid;
    text-align: center;
    margin-top: 45px;
}
.detail_p{
margin-top: 15px;
}
.detail_lien{
    margin-top: 45px;
}
/* Event
   ========================================================================== */

/* Event_create
   ========================================================================== */

/* Footer
   ========================================================================== */
.footer {
    grid-column: 1;
    grid-row: 3 / 3;
}