/* Palettes couleurs
   ========================================================================== */
/* Color Theme Swatches in Hex */
/*.Construction-road-1-hex { color: #FF793B; }*/
/*.Construction-road-2-hex { color: #2C5A71; }*/
/*.Construction-road-3-hex { color: #193341; }*/
/*.Construction-road-4-hex { color: #E4F2FF; }*/
/*.Construction-road-5-hex { color: #C6D2DE; }*/

/* Squid |Color Theme Swatches in Hex */
/*.Squid-1-hex { color: #1C8394; }*/
/*.Squid-2-hex { color: #154B52; }*/
/*.Squid-3-hex { color: #000B0D; }*/
/*.Squid-4-hex { color: #390D02; }*/
/*.Squid-5-hex { color: #A52502; }*/



/* All
   ========================================================================== */
* {
    font-family: sans-serif;
}


/* Body
   ========================================================================== */
body {}


/* Containers
   ========================================================================== */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 100px;
}


/* Header
   ========================================================================== */
.header {
    grid-column: 1;
    grid-row: 1 / 1;
}
.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.header__logo {}
.header__link {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.header__img {}
.header__sigle {}

/* Header > Nav
   ========================================================================== */
.nav {}
.nav__list {
    display: flex;
    gap: 40px;
}
.nav__item {
    display: flex;
    gap: 10px;
    list-style: none;
}
.nav__link {}


/* Main
   ========================================================================== */
.main {
    grid-column: 1;
    grid-row: 2 / 2;
}

/* Main > Login
   ========================================================================== */
.login {}
.login__title {}
.login__form {}
.login__alert {}

/* Main > Form
   ========================================================================== */
.form__container {}
.form__fields {}
.form__label {}
.form__input {}
.form__checkbox {}
.form__button {}

/* Main > Redirect
   ========================================================================== */
.redirect {}
.redirect__text {}
.redirect__link {}

/* Main > Card
   ========================================================================== */
.border {
     border: 1px solid #80808052;
 }

.main__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    /*padding: 20px;*/
}
.card__header {}
.card__title {
    font-size: 24px;
}
.card__state {}
.card__number-participant {}
.card__text {}
.card__main {}
.card__main img {
    width: 300px;
}
.card__date {
    display: flex;
}
.card__date-start {}
.card__date-end {}

/* User
   ========================================================================== */

/* User_profil
   ========================================================================== */
.user_main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 38px;
    grid-template-rows: 100px 1fr 100px;
    font-family: 'Andada Pro', serif;
}
.user_h1{
    grid-column: 1/6;
    grid-row: 1;
    text-align: center;
}
.img_profil{
    width: 250px;
    grid-column: 2;
    grid-row: 2;
}
.user_form{
    grid-column: 3/5;
    grid-row: 2;
}
.user{
    display: flex;
    justify-content: space-evenly;

}
.password-field{
    display: flex;
}
.user_button{

}

/* Footer
   ========================================================================== */
.footer {
    grid-column: 1;
    grid-row: 3 / 3;
}