/* Media queries
   ========================================================================== */

@media (min-width: 320px) {
    nav label {
        display: block;
        font-size: 24px;
        text-align: end;
    }

    nav a { display: none; }

    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .form__container {
        grid-column: 1;
        grid-row: 1;
    }

    .main__card {
        grid-column: 1;
        grid-row: 2;
    }
}

@media (min-width: 860px) {

    .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
    }

    .form__container {
        grid-column: 1;
        grid-row: 1;
    }

    .form__container form { position : fixed;}

    .main__card {
        grid-column: 2;
        grid-row: 1;
    }

    nav label { display: none;}
    nav a { display: block;}
}

@media (min-width: 1024px) {
    .main {
        display: grid;
        grid-template-columns: 380px repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }

    .main__card {
        grid-column: 2 / 5;
        grid-row: 1;
    }
}

/* All
   ========================================================================== */
* {
    font-family: 'Andada Pro', sans-serif;
}

/* Body
   ========================================================================== */
body {
    background-color: #171821;
    color: #f7f7f8;
}


/* Container
   ========================================================================== */
.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    font-family: 'Andada Pro', sans-serif;
    font-size: 16px;
}


/* Header
   ========================================================================== */
.header {
    grid-column: 1;
    grid-row: 1 / 1;
    padding: 20px 0;
    background-color: #13151B;
}
.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.header__link {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header__img {
    height: 60px;
}

/* Header > Nav
   ========================================================================== */

.nav__list {
    display: flex;
    gap: 40px;
}
.nav__item {
    display: flex;
    gap: 10px;
    list-style: none;
}
.nav__link {
    text-decoration: none;
    font-weight: 600;
    color: #f7f7f8;
}

/* Connexions screens
   ========================================================================== */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Andada Pro', sans-serif;
    font-size: 16px;
    font-weight: 700;
}
.login__container {
    width: 320px;
    margin: 0 0 100px 0;
    padding: 40px 20px;
    border-radius: 4px;
    background-color: #31343D;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.login__fields {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.login__remember {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Main
   ========================================================================== */
.main {
    grid-column: 1;
    grid-row: 2 / 2;
    padding: 40px 0;
}

.main__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin: 20px 0;
}

.main form {
    grid-column: 2 / 4;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main__create form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main__create input {
    height: 30px;
    font-size: 16px;
    font-weight: 700;
}

/* Main > Form
   ========================================================================== */

.form__container {
    display: flex;
    justify-content: center;
}
#filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form__container form {
    max-width: 280px;
    margin: 20px 0;
    padding: 20px 42px;
    border-radius: 4px;
    font-weight: 700;
    background-color: #f0f1f3;
    color: #171821;
}
.form__container div {
    max-width: 320px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form__field {
    height: 26px;
    font-size: 16px;
    font-weight: 600;
}

.form__button {
    min-width: 280px;
    margin: 20px 0;
    padding: 17px 10px;
    align-items: center;
    justify-self: center;
    border-style: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    background-color: #2CAEEE;
    color: #171821;
}

.form__label {
    font-family: 'Andada Pro', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.form__link {
    text-decoration: underline;
    font-weight: 600;
    color: #f7f7f8;
}

/* Main > Card
   ========================================================================== */
.card {
    min-width: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-radius: 4px;
    background-color: #31343d;
}
.card__header { padding: 20px 20px 0 20px; }
.card__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #21222d;
}
.card__title {
    font-size: 24px;
}
.card__state {
    font-weight: 600;
    color: #2CAEEE;
}
.card__text { max-width: 120px; }
.card__main { padding: 0 20px; }
.card__date {
    display: flex;
    justify-content: space-between;
}
.card__date-days {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
}
.card__owner a { color: #2CAEEE; }

.card__owner-participant {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}
.card__number-participant p { text-align: end; }

.card__registered {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: end;
    padding: 10px 0;
}

.fa-regular .fa-solid {
    font-size: 18px;
    font-weight: 600;
}

.fa-circle-check {
    color: #0cb800;
}

.card__link {
    font-weight: 700;
    text-decoration: none;
    color: #f7f7f8;
}
.card__action {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
    border-top: 1px solid #21222d;
}

.card__display {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-top: 1px solid #21222d;
}

.card__display-link {
    font-weight: 700;
    text-decoration: none;
    color: #f7f7f8;
}

.card__modifier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card__footer {
    padding: 20px 20px;
    border-radius: 0 0 4px 4px;
    text-align: center;
}
.inscription {
    background-color: #2CAEEE;
}
.desinscription {
    background-color: #ED786B;
}

/* Register view
   ========================================================================== */
.register {}
.register a {
    font-weight: 700;
    text-decoration: none;
    color: #f7f7f8;
}
.register__title {
    text-align: center;
    margin-bottom: 20px;
}
.register__form form { padding-top: 10px; }
.register__form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
}
.register__form input {
    height: 24px;
    font-size: 16px;
}

.register__form select {
    height: 30px;
    font-size: 16px;
}

.redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
}
.redirect__text {}
.redirect__link {
    text-decoration: underline;
    font-weight: 600;
    color: #f7f7f8;
}

/* User_profil
   ========================================================================== */
.user_main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 38px;
    grid-template-rows: 100px 1fr 100px;
    font-family: 'Andada Pro', serif;
}
.user_h1{
    grid-column: 1/6;
    grid-row: 1;
    text-align: center;
}
.img_profil{
    width: 250px;
    grid-column: 2;
    grid-row: 2;
}
.user_form{
    grid-column: 3/5;
    grid-row: 2;
}
.user{
    display: flex;
    justify-content: space-evenly;

}
.password-field{
    display: flex;
}
.user_button{
    margin-top: 8px;
}
/* User_detail
   ========================================================================== */
.user_detail_h2{
    text-align: center;
    margin-top: 45px;
}
.detail{
    display: grid;
    text-align: center;
    margin-top: 45px;
}
.detail_p{
margin-top: 15px;
margin-bottom: 15px;
}
.detail_lien{
    margin-top: 45px;
}
/* Page Error
   ========================================================================== */
.error_page{
    grid-column: 2;
}
.img_error{

}
.lien_error{
    color: white;
    text-decoration: none;
    font-size: xx-large;
}