<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Sortir.com
            {% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/normalizer.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ asset('js/script.js') }}"></script>


    </head>
    <body>
        <div class="container">
            <header class="header">
                {% block header %}
                {% endblock %}
            </header>
            {% block connection %}
            {% endblock %}
            <main class="main">
                {% block body %}
                {% endblock %}

                {% block event %}
                {% endblock %}
            </main>
            <footer class="footer">
                {% block footer %}
                {% endblock %}
            </footer>
        </div>
        <script src="https://kit.fontawesome.com/2795f9a1d5.js" crossorigin="anonymous"></script>
    </body>
</html>
